.app {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  padding-bottom: 90px;
}

.app-content {
  width: 100%;
  max-width: 600px;

  margin: 0 auto;

  padding: 16px;
}

.page {
  width: 100%;
}

.page[hidden] {
  display: none;
}